
    <div id="landing-pic-div">
        <img id="landing-pic" src="https://i.imgur.com/iZRT7Pv.jpg">
        <div id="landing-box">
            <p>The Strongr APP is here for you to track, and reach your fitness goals!</p>    
        </div>
    </div>


