/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
}


body{
     font-family: 'Roboto'
}

h1 {
    text-align: center;
}

th{
     text-align: center;
     font-size: 18px;
}

td{
    padding-top: 10px;
}

.btn-sm {
    border-radius: 6px;
    height: 28px;
}

#new-plan {
     text-align: center;
     padding-top: 25px;
}

#plan-btn{
    text-align: center;
    padding-top: 55px;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 900px;
}

#plan-exercises{
    padding-top: 20px;
    padding-bottom: 10px;
}

#exercise-table {
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}

#exist-plans{
    text-align: center;
    border: 1px solid black;
    position: relative;
    margin-top: 2px;
    width: 235px;
    border-radius: 15px;
    margin: 0 auto;
    background-color: rgb(201, 209, 221, 0.3);
}

#days_table {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#nav_bar {
     text-align: left;
     padding-top: 9px;
     margin-left: 90px; 
     color: white;
}

#nav-bar-color {
    background: rgb(73,167,212, 0.8);
    height: 40px;
}

.login-form {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}   

#login-btn {
    padding-top: 20px;
    padding-left: 82px;
}

#signup-btn {
    padding-top: 20px;
    padding-left: 53px;
}

#notice {
    text-align: left;
    margin-left: 90px;
    color: green;
}

.error_messages{
    justify-content: center;
    display: flex;
    line-height: 30px;
    color: red;
}

#alert{
    text-align: center;
    color: red;
}

#landing-box{
    width: 300px;
    padding: 25px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: -700px;
    border-radius: 20px;
    font-size: 25px;
    margin-left: 200px;
}

#landing-pic{
    width: 1680px;
    max-height: 100vh;
    margin: auto;
}

#landing-pic-div{
    display: grid;
    height: 100%;
}

.login-btn{
    color: white;
}

#plan-del-btn{
    margin-top: 50px;
    margin-left: 1166px;
}

a:hover{
    text-decoration: none;
}

#login-page{
    background-position: fill;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-btn{
    background-color: #6D747C;
    color: white;
}

#login-div{
    padding-top: 100px;
}

#login-text{
    padding-bottom: 30px;
}

#edit-name-btn{
    display: inline;
    font-size: 20px;
}

#new-plan-btn{
    display: flex;
    justify-content: center;
    padding-top: 20px; 
}

#back-btn{
    margin-left: 225px;
    padding-top: 46px;
    display: flex;
    justify-content: center;
}

#sign-up{
    padding-top: 100px;
}

#sign-h{
    padding-bottom: 22px;
}

.plan-show-idx{
    font-family: 'PT Sans Caption', sans-serif;
}

#ex-form{
    display: flex;
    justify-content: center;
}

#plan-h{
    padding-bottom: 20px;
    font-family: 'PT Sans Caption', sans-serif;
}

.check{
    font-size: 30px;
}

.ex-box{
    font-size: 15px;
}

#plans-back-btn{
    margin-left: 200px;
    padding-top: 46px;
    display: flex;
    justify-content: center;
}