<h1>Plan Your Workouts</h1>

<div id="exist_plans">
<h3>Your Existing Plans</h3>
<% @plans.each do |plan| %>
    <p><%= link_to plan.name, plan_path(plan) %></p>
<% end %>
<br>
</div>
<%= link_to 'New Plan Name', new_plan_path, id: 'new-plan-btn' %>
