<body id="plan-idx">
    <% if @plans.count == 0 %>
        <h2 class="text-center">There Are No Plans Yet!<h2>
        <div id="new-plan-btn">
            <%= link_to 'New Plan', new_plan_path, class: 'btn btn-success' %>
        </div>
    <% else %> 
        <h1 id="plan-h">Plan Your Workouts</h1>
        <div id="exist-plans">
            <h3 id="plan-show-h">Your Existing Plans</h3>
                <% @plans.each do |plan| %>
                    <p><%= link_to plan.name, plan_path(plan) %></p>
                <% end %>
            <br>
        </div>
        <div id="new-plan-btn">
            <%= link_to 'New Plan', new_plan_path, class: 'btn btn-success' %>
        </div>
    <% end %>
</body>
