<h1>New Plan</h1>

<div id="new-plan">
<%= form_for @plan do |f| %>
    <%= f.text_field :name, placeholder: 'Plan Name' %>
    <%= f.submit 'Submit', class: 'btn btn-success btn-sm' %>
<% end %>
</div>  
    <%= link_to "Back To Plans", plans_path, class: 'btn btn-info' %>